{
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    }
  ],
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "tabWidth": 4
}
